<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header class="centered">
        <h1>Загрузка фотографии</h1>
        <h2>для участия в миссии</h2>
    </header>
    <div>
        <form class="astreg-form" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="photo">Приложите фотографию</label>
                <input type="file" class="form-control-file" id="photo" name="file">
            </div>
            <div class="form-group">
                <img src="static/img/photo.png" alt="No photo">
            </div>
            <button type="sumbit" class="btn btn-primary">Загрузить</button>
        </form>
    </div>
</body>

</html>